[user]
	name = GF47
	email = liougourenmo@gmail.com
[core]
	editor = vim
	quotepath = off
	autocrlf = true
	excludesfile = 
[merge]
	tool = vimdiff
[i18n]
[gui]
    encoding = utf-8
    commitencoding = utf-8
	recentrepo = D:/Work/Unity_5_x_Project/UnityResourcesManager
[winUpdater]
	recentlySeenVersion = 2.19.1.windows.1
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
