[user]
	name = GF47
	email = liougourenmo@gmail.com
[core]
	editor = vim
	quotepath = false
	autocrlf = true
	excludesfile = 
[merge]
	tool = vimdiff
[i18n]
	logoutputencoding = utf-8
	commitencoding = utf-8
[gui]
    encoding = utf-8
    commitencoding = utf-8
